@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background: #fff;
  }
  .next-error-h1 {
    border-right: 1px solid rgba(15, 14, 14, 0.3);
  }
} */